<p>
	Hello <%= @user.name %>, please confirm your account.
</p>

<p>
	To confirm your account, please click the link below:
</p>

<p>
	<a href="http://localhost:3000/confirm/<%= @user.token %>">Confirm your account</a>
</p>
