<h1>User#confirm_account</h1>

<blockquote>
  <%= @greeting %>, find me in app/views/user_mailer/confirm_account.html.erb
</blockquote>

<p>
	<a href="#<%= @user.email %>">Confirm your account</a>
</p>
